Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/AnimStarterPack/*
/Content/FreeAnimationsPack/*
/Content/MetaHumans/*
/Content/Main_BuildData.uasset
Content/Main_BuiltData.uasset
Content/CT_Components
Content/MuzzleFlash
Content/Free_Sounds_Pack
Content/Fab